version: '3.8'
services:
  db:
    image: mcr.microsoft.com/mssql/server:2019-latest
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"

  web:
    build: .
    depends_on:
      - db
    environment:
      - DB_ENGINE=mssql
      - DB_SERVER=db
      - DB_DATABASE=Expense_Tracker
      - DB_USER=sa
      - DB_PASSWORD=YourStrong!Passw0rd
      - FLASK_ENV=development
    ports:
      - "5000:5000"
